DB_CONNECTION_STRING_SECRET="postgresql://user:password@host:5432/db_name"
DADATA_TOKEN=dadata_token
DADATA_SECRET=dadata_secret
EMAIL_SENDER=noreply@company.ru
EMAIL_PASSWORD=password
EMAIL_RECEIVER=analytics@company.ru
SMTP_HOST=smtp.company.com
SMTP_PORT=587
